{% extends "base.html.twig" %}

{% block body %}

    {% include 'default/index.html.twig' %}

    <h1>New Review</h1>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}